@media (min-width: 900px) {
    nav {
        display: block; 
    }

    nav ul {
        display: flex;
        justify-content: space-around; 
    }

    #menu {
        display: none;
    }

    .temples {
        grid-template-columns: repeat(3, 1fr); 
    }
}
